html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

/* Place your styles below */

header ,main { 
	text-align: center; 
 }

 #try-again{
 	margin-top: 10px
 	margin-right: auto;
 	margin-bottom: 10px;
 	margin-left: auto;
 	height: 50px;
 	width: 200px;
 	background-color: blue;
	display: inline;

 }
#submit{
 	margin-top: 10px
 	margin-right: auto;
 	margin-bottom: 10px;
 	margin-left: auto;
 	height: 50px;
 	width: 200px;
 	background-color: blue;
	display: inline;

 }